@media (max-width: 1240px) {
  .header {
    background: none;
  }

  .header__info,
  .header__info-text {
    max-width: 100%;
  }

  .header__info-text {
    margin-bottom: 115px;
  }

  .mrl__img,
  .roadmap__logoholder {
    display: none;
  }
}

@media (max-width: 1024px) {
  .wave__inner,
  .questions__inner,
  .discord__inner {
    flex-wrap: wrap;
    gap: 40px;
  }

  .wave__nft,
  .wave__info,
  .mrl__box,
  .discord__info,
  .questions__nft {
    max-width: 100%;
  }

  .mrl__inner {
    flex-direction: column;
  }

  .mrl__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .mrl__list-item {
    padding: 25px 5px;
    width: 100%;
  }

  .artists__inner {
    margin-bottom: 150px;
  }
  .footer__inner {
    padding: 40px 0;
  }
  .footer__lists-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: auto;
  }
  .footer__list {
    gap: 15px;
  }
}

@media (max-width: 890px) {
  .wave__inner,
  .artists__inner,
  .mrl__inner,
  .roadmap__inner,
  .roadmap__partners-logoholder,
  .team__inner,
  .artists__inner {
    margin-bottom: 90px;
  }
  .artists__title,
  .team__title {
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 50px;
  }
  .artists__list {
    justify-content: space-around;
  }
}

@media (max-width: 780px) {
  .header__top-wrapper,
  .header__top-elements {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .header__logo {
    margin-left: 0;
  }
  .header__nav-list {
    font-size: 22px;
  }
  .header__bottom {
    margin-top: 70px;
  }

  .mrl__box-img-wrapper {
    display: none;
  }
  .mrl__box {
    padding: 30px;
  }

  .roadmap {
    padding-top: 0;
  }
  .roadmap__partners-logoholder,
  .footer__item {
    gap: 20px;
  }

  .discord__img {
    width: 100%;
  }

  .footer__inner {
    flex-direction: column;
  }
  .footer__socials-list {
    justify-content: start;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 32px;
    line-height: 38px;
  }

  .header__nav-list,
  .wave__info-text--about,
  .mrl__box-info-text--about {
    font-size: 18px;
    line-height: 24px;
  }
  .header__info-title,
  .discord__info-title {
    font-size: 40px;
    line-height: 46px;
  }
  .header__bottom {
    margin-top: 80px;
  }
  .header__info-text {
    margin-bottom: 90px;
  }

  .mrl__list,
  .roadmap__box-bottom {
    flex-direction: column;
  }

  .mrl__box-info-text--about {
    border: none;
    padding-left: 0;
  }
  .artists__title-span {
    font-size: 20px;
  }
  .roadmap__box-bottom {
    align-items: start;
    gap: 30px;
  }
  .box-bottom--wrapper {
    order: 1;
    max-width: 100%;
  }
  .roadmap__inner {
    gap: 80px;
  }
  .roadmap__box-1::after,
  .roadmap__box-2::after {
    transform: translateY(50%);
  }
  .quesitons__nft-img {
    width: 100%;
  }
}

@media (max-width: 375px) {
  body {
    font-size: 14px;
    line-height: 24px;
  }
  .header__info-title {
    font-size: 33px;
    line-height: 40px;
  }
  .header__nav-list {
    gap: 30px;
    font-size: 16px;
  }

  .wave__nft-img {
    width: 100%;
  }

  .artists__title {
    transform: translateX(90px);
  }

  .quesitons__nft-img,
  .team__box-img {
    width: 90%;
  }
}
